// Hero Component
.p-hero {
    align-items: center;
    gap: 2rem 0;
    padding-block: 2rem;
    isolation: isolate;
    
   

    &-content, &-div {
        display: grid;
    }


    &-content {
        gap: 1.5rem;
        z-index: 2;
        letter-spacing: -2px;
        word-spacing: 3px;
        font-family: var(--ff-heading);
    } 


    &-div, &-btnbar {
        padding: 1.5rem 1.25rem;
        padding-block-end: 1.75rem;
        border-radius: 0.5rem; 
        background: var(--clr-neutral-l300);
    }



    &-div {
        gap: 1.25rem;



        h1 {
            background-image: var(--txt-gradient);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            font-size: var(--fs-800);
            line-height: 1.05;
        }


        span {
            font-size: var(--fs-600);
            font-weight: 500;
            line-height: 1.1;
            opacity: 0.55;
        }
    }




    @include mq(medium) {
        picture {
            --_col-start: 2;
            --col-number: 4;        
        }

        picture, &-content {
            grid-row: 1 / 2;
        }
    }


    &-btnbar {
        display: flex;
        flex-flow: row wrap;
        gap: 0.75rem;
        background: var(--clr-neutral-l300);
        width: fit-content;
    }


    button {
        font-family: var(--ff-heading);
        font-size: var(--fs-400);
        font-weight: 500;
        border: 0;
        border-radius: 0.5rem;
        padding: 0.95rem 1.5rem;


        &:focus-visible {
            border: 1px solid var(--clr-neutral-d500);
        }
    }
}









// Features List / Why us Section
.p-features {
    gap: 4rem 0;
    background: var(--clr-neutral-l500);
    box-shadow: var(--shadow-low);
    padding: 4rem 0;
    border-radius: 1rem;


    &-preamble {
        display: grid;
        gap: 1.5rem;
        text-align: center;

    

        h2 { 
            font-size: var(--fs-700);
            color: var(--clr-primary);
            opacity: 0.7;
        }
        
        p {
            max-width: 60ch;
            margin-inline: auto;
            font-size: var(--fs-500);
            color: var(--clr-neutral-d400);
            opacity: 0.7;
        }




    }


    &-list {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        align-items: start;
        margin: 0;
        list-style: none;


        li {
            display: contents;
        }
    }



    &-card {
        --g-content: 0.5rem;
        --lh-content: 1.37;

        display: grid;  
        position: relative;
        border: 1px solid var(--clr-neutral-l100);
        border-radius: 0.5rem;
        padding: 1.5rem 1.25rem 1.75rem 1.25rem;
        isolation: isolate;
        



        &::before {
            --txt-gradient-deg: -30deg;

            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background: var(--txt-gradient);
            opacity: 0.2;
            transition: opacity 350ms ease-out;
        }

            
    
        .image {
            position: absolute;
            inset: auto 0 0 auto;
            width: 120px;
            color: var(--clr-icon, var(--clr-primary));
            opacity: 0.25;
            
        }


        .content {

            h3 {
                margin-bottom: var(--g-content);
                color: var(--clr-primary);
                opacity: 0.65;
            }

            p {
                line-height: var(--lh-content);
            }

        }


    


        // Hover Effect
        &:hover {

            color: var(--clr-neutral-l500);

            h3 {
                color: var(--clr-neutral-l500);
            }

            .image {
                color: var(--clr-neutral-l500);
            }


            &::before {
                opacity: 1;
            }

        }

    } 



}




